* {
  cursor: none;
  color: var(--color-black);
  font-family: 'Patrick Hand', cursive;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-white: #FFFFFE;
  --color-black: #282628;
  --color-accent: #AF686C;
  --color-secondary: #EDEDED;
  --color-shadow: rgba(40, 38, 40, 0.25);
  --color-grey: #444444;
  --color-lifted: #bf9c00;
  --color-nav-bar-background: #4444449a;
  --color-secondary-opacity: #EDEDED9a;
  font-size: 20px;
}


.custom-cursor {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 7px;
  height: 7px;
  background-color: var(--color-accent);
  border-radius: 0 50% 50% 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  pointer-events: none;
  border: 2px solid var(--color-black);
}

a, .link {
  text-decoration: underline;
  color: var(--color-black);
  text-shadow: var(--color-shadow) 0px 4px 4px;
  cursor: none;
  transition: font-size 0.1s ease-in-out;
  background-color: var(--color-secondary);
  border-radius: 15px;
  padding-left: .5rem;
  padding-right: .5rem;
  padding-top: .25rem;
  padding-bottom: .25rem;
}

a:hover, .link:hover {
  font-size: 1.05em;
  transition: font-size 0.1s ease-in-out;
}

a:active, .link:active {
  text-shadow: var(--color-shadow) 0px 1px 2px;
  font-size: 1rem;
  transform: translateY(2px);
  transition: font-size 0.05s ease-in-out;
}

button {
  background-color: var(--color-accent);
  border: none;
  color: white;
  padding: .25rem .5rem;
  border-radius: .25rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Patrick Hand', cursive;
  font-size: 1.1rem;
  box-shadow: var(--color-shadow) 0px 4px 4px;
}

button:hover {
  background-color: var(--color-lifted);
}

button:active {
  background-color: var(--color-accent);
  transform: translateY(2px);
  box-shadow: var(--color-shadow) 0px 1px 2px;
}

.text-accent {
  color: var(--color-accent);
  animation: put-down .3s ease-in-out forwards;
}

.text-accent:hover {
  color: var(--color-lifted);
  text-shadow: var(--color-shadow) 0px 4px 4px;
  animation: lifted-up .3s ease-in-out forwards;
  font-size: 1.05rem;
}

.no-display {
  display: none;
}

.transparent {
  opacity: 0;
}

.fade-in {
  animation: fade-in 1s ease-in-out forwards;
}

.fade-out {
  opacity: 0;
  animation: fade-out 1s ease-in-out forwards;
}

/* Animations */
@keyframes fade-in {
  0% {
    transform: translateY(3rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
  
}

@keyframes fade-out {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-3rem);
    opacity: 0;
  }
}

@keyframes lifted-up {
  0% {
    text-shadow: var(--color-shadow) 0px 0px 0px;
    font-size: 1rem;
  }
  100% {
    text-shadow: var(--color-shadow) 0px 4px 4px;
    font-size: 1.05rem;
  }
}

@keyframes put-down {
  0% {
    text-shadow: var(--color-shadow) 0px 4px 4px;
    font-size: 1.05rem;
  }
  100% {
    text-shadow: var(--color-shadow) 0px 0px 0px;
    font-size: 1rem;
  }
}

@keyframes scale-up {
  0% {
    transform: scale(0.0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes slide-in-from-left {
  0% {
    transform: translateX(-3rem);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes zoom-in {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes grow-font-size {
  0% {
    font-size: 0;
  }
  100% {
    font-size: 1rem;
  }
  
}