* {
  cursor: none;
}

body {
  margin: 0;
  font-family: 'Patrick Hand', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-white: #FFFFFE;
  --color-black: #282628;
  --color-accent: #AF686C;
  --color-secondary: #EDEDED;
  --color-shadow: rgba(40, 38, 40, 0.25);
  --color-grey: #444444;
  --color-lifted: #bf9c00;
  --color-nav-bar-background: #4444449a;
  font-size: 20px;
}


.custom-cursor {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 7px;
  height: 7px;
  background-color: var(--color-accent);
  border-radius: 0 50% 50% 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  pointer-events: none;
  border: 2px solid var(--color-black);
}

a, .link {
  text-decoration: underline;
  color: var(--color-black);
  text-shadow: var(--color-shadow) 0px 4px 4px;
  cursor: none;
  transition: font-size 0.1s ease-in-out;
  background-color: var(--color-secondary);
  border-radius: 15px;
  padding-left: .5rem;
  padding-right: .5rem;
  padding-top: .25rem;
  padding-bottom: .25rem;
}

a:hover, .link:hover {
  font-size: 1.05em;
  transition: font-size 0.1s ease-in-out;
}

a:active, .link:active {
  text-shadow: var(--color-shadow) 0px 1px 2px;
  font-size: 1rem;
  transform: translateY(2px);
  transition: font-size 0.05s ease-in-out;
}

.text-accent {
  color: var(--color-accent);
  animation: put-down .3s ease-in-out forwards;
}

.text-accent:hover {
  color: var(--color-lifted);
  text-shadow: var(--color-shadow) 0px 4px 4px;
  animation: lifted-up .3s ease-in-out forwards;
  font-size: 1.05rem;
}

.no-display {
  display: none;
}

.transparent {
  opacity: 0;
}

.fade-in {
  animation: fade-in 1s ease-in-out forwards;
}

.fade-out {
  opacity: 0;
  animation: fade-out 1s ease-in-out forwards;
}

.content > img {
  width: 20%;
  height: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.sound-button {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 5%;
  bottom: 5%;
  z-index: 1;
}

.sound-button:hover {
  transform: scale(1.02);
  transition: transform 0.1s ease-in-out;
}

.sound-button-image {
  width: 100%;
  height: auto;
  position: relative;
}

/* Animations */
@keyframes fade-in {
  0% {
    transform: translateY(3rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
  
}

@keyframes fade-out {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-3rem);
    opacity: 0;
  }
}

@keyframes lifted-up {
  0% {
    text-shadow: var(--color-shadow) 0px 0px 0px;
    font-size: 1rem;
  }
  100% {
    text-shadow: var(--color-shadow) 0px 4px 4px;
    font-size: 1.05rem;
  }
}

@keyframes put-down {
  0% {
    text-shadow: var(--color-shadow) 0px 4px 4px;
    font-size: 1.05rem;
  }
  100% {
    text-shadow: var(--color-shadow) 0px 0px 0px;
    font-size: 1rem;
  }
}