.weather-panel {
    position: fixed;
    display: flex;
    flex-direction: row;
    bottom: 0;
    font-size: .8rem;
    background-color: var(--color-secondary-opacity);
    width: 100%;
    justify-content: flex-end;
}   

.weather-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding-left: .5rem;
    padding-right: .5rem;
    height: 1rem;
}

.weather-group:last-of-type {
    margin-right: .5rem;
}

.weather-icon {
    width: 1rem;
    height: 1rem;
    animation: expand .5s ease-in-out;
}

.weather-icon > img {
    width: 150%;
    height: auto;
    transform: translate(-.6rem, -.6rem);
    background-color: var(--color-secondary);
    border-radius: 50%;
    padding: .1rem;
    margin-left: .1rem;
}